@import "tailwindcss";

:root {
  --background: #fafaf9; /* stone-50 */
  --foreground: #1c1917; /* stone-900 */

  /* Warm 70s Palette */
  --color-primary: #d97706;
  --color-primary-light: #f59e0b;
  --color-primary-dark: #78350f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--color-primary);
  --color-primary-light: var(--color-primary-light);
  --color-primary-dark: var(--color-primary-dark);
  --font-code: "Google Sans Code", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0a09; /* stone-950 */
    --foreground: #f5f5f4; /* stone-100 */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-stone-50 text-stone-900 dark:bg-stone-950 dark:text-stone-100;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-image {
  transition: transform 0.6s linear;
}

.logo-image:hover {
  animation: rotate360 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
